* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}


a {
    text-decoration: none;
    color: unset;
}

button, input {
    outline: none;
    border: none;
}
ul {
    list-style-type: none;
}

.container {
    width: 100%;
    height: max-content;
    position: relative;
}